<p id="notice"><%= notice %></p>

<h1>Lista de tareas de Pablo V</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Responsable</th>
      <th>Realizado</th>
      <th>Observación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listatareas.each do |listatarea| %>
      <% if listatarea.realizado == false %>
        <tr>
          <td><%= listatarea.nombre %></td>
          <td><%= listatarea.desde %></td>
          <td><%= listatarea.hasta %></td>
          <td><%= listatarea.responsable %></td>
          <td><%= listatarea.realizado %></td>
          <td><%= listatarea.observacion %></td>
          <td><%= link_to 'Ver', listatarea %></td>
          <td><%= link_to 'Editar', edit_listatarea_path(listatarea) %></td>
          <td><%= link_to 'Eliminar', listatarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva tarea', new_listatarea_path %>
